<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>image001</string>
	<string>image002</string>
	<string>image003</string>
	<string>image004</string>
	<string>image005</string>
	<string>image006</string>
	<string>image007</string>
</array>
</plist>
